/*small screen*/
@media (max-width: 670px) {
  .header {
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .display-name {
    display: none;
  }

  .logo {
    grid-area: 1 / 1 / 2 / 2;
  }

  .right-side {
    grid-area: 1 / 3 / 2 / 4;
  }
}

/*full screen*/
@media (min-width: 670px) {
  .header {
    text-align: left;
  }

  .text {
    text-align: left;
  }
}
