@media (min-width: 670px) {
  .paper {
    display: grid;
    grid-template-columns: 64px 1fr auto;
  }
}

@media (max-width: 670px) {
  .icon-container {
    flex-direction: column;
  }

  .header {
    text-align: center;
  }

  .text {
    text-align: center;
  }
}
