name: Deploy to Production

on:
  push:
    branches: ["production"]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Production

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - uses: actions/checkout@v3

      - id: "auth"
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v1"

      - name: "Echo version"
        run: |
          gcloud info

      - name: "Build Services"
        run: |
          gcloud components install beta --quiet

      - name: "Deploy Services"
        run: |
          echo "Hello world"
